.container{
    background-color: rgb(155, 142, 131);
    max-width: 720px;
    margin-top:40%;
   margin:0px auto;
   border-radius: 5px;
 
  
   
}
.row{
    display: flex;
    width:100%;


}

.departmentLeftSection{
  width: 30%;
  margin:10px;
  padding:10px;
}
.departmentRightsection{
  width:70%;
  margin:30px;
  padding:10px;
  display: flex;

}
input[type="text" i]{
  height:90%;
  font-size: 16px;
  border-radius: 5px;
}
.btn_design{
  margin-left: 50px;
}

